form {
    padding: 50px;
    background-color: #1f5852;
}

button {
    margin: 5px;
    background-color: #264653;
    color: yellow;
}

.card {
    width: 30%;
    margin-top: 30px;
    box-shadow: 0 0 15px 5px rgb(212, 210, 210);
}

p {
    color: rgb(190, 69, 238);
}