<div class="details">
    <h2>Easther Mutheu</h2>
    <p>Github Username:easthermutheumwengei</p>
    <p>Location:Nairobi</p>
    <p>Twitter:@dylandaxy</p>
    <p>Repositories:18</p>
</div>

<div class="repos">
    <h1>Public Repositories</h1>
    <h4>Favorite Band</h4>
    <h4>Count App</h4>
    <h4>Pizza Max</h4>
    <h4>Birthday-generator</h4>
    <h4>Delani</h4>
    <h4>Portfolio Page</h4>
    <h4>Dairy-Business</h4>
    <h4>Anitas Kitchen</h4>
    <h4>Quotes</h4>
    <h4>Addressing-period-poverty</h4>
    <h4>Favorite-Animal</h4>
</div>