<div class="details">
    <h2>Easther Mutheu</h2>
    <p>Github Username:easthermutheumwengei</p>
    <p>Location:Nairobi</p>
    <p>Twitter:@dylandaxy</p>
    <p>Repositories:18</p>
    <img src="https://images.unsplash.com/photo-1618401479427-c8ef9465fbe1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=726&q=80" width="200px">
</div>

<div class="repos">
    <h1>Public Repositories</h1>
    <h4>Favorite Band</h4>
    <h4>Count App</h4>
    <h4>Pizza Max</h4>
    <h4>Birthday-generator</h4>
    <h4>Delani</h4>
    <h4>Portfolio Page</h4>
    <h4>Dairy-Business</h4>
    <h4>Anitas Kitchen</h4>
    <h4>Quotes</h4>
    <h4>Addressing-period-poverty</h4>
    <h4>Favorite-Animal</h4>
</div>