@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
img {
    border-radius: 50%;
    margin-left: 40px;
}

p,
h2 {
    font-family: 'Stint Ultra Condensed', cursive;
    font-size: 30px;
}

h2 {
    font-size: 40px;
}

h4 {
    font-family: 'Stint Ultra Condensed', cursive;
    font-size: 35px;
}

.details {
    background-color: #264653;
    color: #e9c46a;
    padding: 30px;
    width: 33%;
    float: left;
    margin-top: 80px;
    margin-left: 150px;
    border-radius: 20%;
}

.repos {
    background-color: #83e96a;
    margin-top: 50px;
    color: #264653;
    width: 25%;
    float: right;
    margin-right: 100px;
    padding: 30px;
    border-radius: 20%;
}

.details>h2 {
    text-decoration: underline;
    color: rgb(26, 19, 20);
    margin-left: 30px;
}

.repos>h4,
p {
    margin-left: 100px;
}

.repos>h2 {
    text-align: center;
    font-size: 50px;
    padding: 10px;
    color: rgb(209, 46, 73);
    text-decoration: underline;
}