@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
img {
    border-radius: 50%;
    margin-left: 40px;
}

p,
h2 {
    font-family: 'Stint Ultra Condensed', cursive;
    font-size: 30px;
}

h2 {
    font-size: 40px;
}

h4 {
    font-family: 'Stint Ultra Condensed', cursive;
    font-size: 35px;
}

.details {
    background-color: #264653;
    color: #e9c46a;
    padding: 30px;
    width: 30%;
    float: left;
    margin-top: 80px;
    margin-left: 150px;
    border-radius: 20%;
}